<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h3>À propos de nous</h3>
              <p>Nous sommes une entreprise passionnée par les chiens et nous offrons une variété de races de chiens de qualité pour les familles et les amoureux des animaux.</p>
            </div>
            <div class="col-md-4">
                <h3>Contact</h3>
                <ul>
                  <li>Email: contact@ventedechiens.com</li>
                  <li>Téléphone: +33 123 456 789</li>
                  <li>Adresse: 123 Rue de la Chienne, 75000 Paris, France</li>
                </ul>
              </div>
              <div class="col-md-4">
                <h3>Suivez-nous</h3>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="text-center">&copy; Copyright 2023 VentedeChiens. Tous droits réservés.</p>
              </div>
            </div>
          </div>
        </footer> 
</body>
</html>

      