{% extends "index.html" %} {% block title%}Login{% endblock%}
 
{% block content %}
        <h2>User Login</h2>
        <form action="" method="post">
            {% if message is defined and message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="Entrer l'adresse email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Entrer le mot de passe" name="password" required>
            </div><br>
            <button type="submit" class="btn btn-primary">S'enregistrer</button>
            <p class="bottom">Don't have an account? <a href="{{url_for('auth.register')}}"> Register here </a></p>

        </form>
        {% endblock %}